<body>
  <div class="countdown">
    <div id="timerDisplay">00:00:00</div>
      <input type="text" id="timeInput" placeholder="秒単位で時間を入力!!">
    <div>
      <button id="js-set-two-hours">2 Hours</button>
      <button id="js-set-three-hours">3 Hours</button>
      <button id="js-set-twelve-hours">12 Hours</button>
    </div>
    <div>
      <button id="js-set-start">開始</button>
      <button id="js-set-end">停止</button>
      <button id="js-set-reset">リセット</button>
    </div>
  </div>
</body>
