<div class="countdown">
  <div id="timerDisplay2">00:00:00</div>
    <input type="text" id="timeInput2" placeholder="秒単位で時間を入力!!">
  <div>
    <button id="js-set-two-hours2">2 Hours</button>
    <button id="js-set-three-hours2">3 Hours</button>
    <button id="js-set-twelve-hours2">12 Hours</button>
  </div>
  <div>
    <button id="js-set-start2">開始</button>
    <button id="js-set-end2">停止</button>
    <button id="js-set-reset2">リセット</button>
  </div>
</div>
