<div class="container_clock">
  <!--<h1>現在時刻</h1>-->
  <div class="edge-clock">
    <span class="clock-hour"></span>
    <span class="clock-min"></span>
    <span class="clock-sec"></span>
    <span class="clock-12">12</span>
    <span class="clock-3">3</span>
    <span class="clock-6">6</span>
    <span class="clock-9">9</span>
  </div>
</div>