.countdown {
  text-align: center;
}

#timeInput,#timeInput2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#timerDisplay,#timerDisplay2 {
  font-size: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
}

button {
  margin: 3px;
}